body, html {
   padding: 0;
   margin: 0;
   width: 100%;
   height: 100%;
   font-family: 'Montserrat', sans-serif;
   color: black;
  
    }
    
*{
    box-sizing: border-box;
}


img{
    display: block;
    height: auto;
    width: 100%;
}

h1{
font-weight:800;
font-size:40px
}

h3{
    font-weight:800;
    font-size:35px;
 }

.barra-navegacion{
    display: flex;
    justify-content: flex-end;
    width:100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 20px;
    position: fixed;
    background-color: white;

}

.barra-navegacion>a{
    padding: 8px 25px 8px 25px;
    text-decoration: none;
    color: black;
  
}

.enlace-navegacion:hover{
    color: #16a085
}

.enlace-contacto{
    border-radius: 30px;
    background-color:#16a085;

}

.enlace-contacto:hover{
    background-color: #24b599;
}

#sobre-mi{
    display: flex;
    justify-content: space-between;
    padding:100px;
}

.imagen-portada{
    width: 500px;
    display: flex;
     padding: 15px;
}

.seccion-sobre-mi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:40px 5px 5px 0;
}

.seccion-sobre-mi>span{
    font-weight:800;
    font-size:20px;
}

.seccion-sobre-mi>h1{
margin-top: 5px;
color:#16a085;
}

.enlace-proyectos{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #16a085;
        padding: 10px;
        border-radius: 30px;
        width: 150px;
        color: white;
        margin-top: 25px;
        text-decoration: none;

    }

 .enlace-proyectos>a{
    text-decoration: none;
    color: white;
    }

 #mis-conocimientos{
display: flex;
 flex-direction: column;
 padding: 30px;
 background-color: #eeeeee;
 justify-content: center;
 align-items: center;
       
   
    }

.encabezado-conocimientos{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px; 
text-align: center;  
 max-width: 700px;  
       
    }
    
.contenedor-habilidades{
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 90%;
    }

 .habilidad{
    margin: 10px;
    padding: 30px;
    background-color:white;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #dddfe5;
    color: black;
    }


.habilidad>i{
    font-size: 80px;
    display: flex;
    justify-content: center;
    padding: 20px;
          
        }

.habilidad:hover{
    border: 1px solid #16a085;  
        
        }

.cita{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#16a085 ;
    padding: 100px 60px 100px 60px;
    color: white;
    text-align: center;
    line-height: 1.4;
    }

        
.comillas>i{
     font-size: 90px;
     padding: 10px;
     color: white;
        
    }

    .contenedor-cita{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-cita>span{
        font-weight: 600;
        text-align: center;
    }

    #mis-proyectos{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
   
      }

    .encabezado-proyectos{    
        width: 40%;
        padding-top: 70px;

    }

    .contenedor-tarjetas{
     display: flex;
     flex-wrap: wrap;
     padding: 30px;
     justify-content: center;
     width: 90%;
      }

    .tarjeta{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dddfe5;
    font-weight: 600;
    
    }

.tarjeta:hover{
      border: 1px solid #16a085;   
    }

    /**/

#informacion-contacto {

       background-color:#eeeeee;
        display:flex;
        justify-content:center;
        padding-top: 150px;
        padding-bottom: 50px;
        }
        
.seccion-contacto{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 20px;
        
        }
        
    .contactame{
            width: 40%;
            padding: 10px;
        }

    .enlace-redes{
      display: flex;
      align-items: center;
     padding: 10px;
    border-radius: 100px;
     }
            
     .enlace-redes:hover{
            color:#16a085;
        }
        
        .enlace-redes>i{
          color:#16a085;
          padding: 10px;
          border-radius: 100px;
          
        }
        
        .enlace-redes:hover>i{
            background-color:#16a085;
            color: white;
        }
         
        .enlace-redes:focus{
            box-shadow: 0px 0px 7px #16a085;
            outline: 0;   
        }

        .formulario{
            width: 40%;
            display: flex;
          flex-direction: column;
          padding: 10px;
        }
        
        .contenedor-nombre-apellido{
            display: flex;
            margin-bottom: 10px;
        }
        
        .email{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            
        }
        
        input, textarea{

            border: 1px solid transparent;
            border-radius: 15px;
            background-color:#eeeeee;
            padding: 7px;
            
        }

        .mensaje{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
        }


        
        .formulario>button{
            margin-top: 10px;
            border-radius: 15px;
            background-color:#16a085;
            width: 70px;
            padding: 8px;
            border: 1px solid transparent;
        }


 
   /*seccion footer*/
footer{
background-color:#16a085;
    
}

.barra-nav-secundaria{
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-nav-secundaria>a
{
    padding: 35px 10px 35px 10px;
    text-decoration: none;
    color: white;
}

.contenedor-iconos-redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-iconos-redes>a>i{
    color:#16a085;
    padding: 10px;
    border-radius: 100px;
    background-color: white;
    margin: 10px;
    border: 1px solid transparent;
    

}

.contenedor-iconos-redes>a>i:hover{
    color: white;
    background-color:#16a085;
    border: 1px solid white;
    transition: 0,5s;

}

footer>p{
    text-align: center;
    padding: 40px;
    color: white;
}

@media (max-width:768px){
    .barra-navegacion{
        display:none; 
    }

    #sobre-mi{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px 2px 2px 2px; 
        text-align: center;
    }
    
    .seccion-sobre-mi{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .imagen-portada{
        display: flex;
        align-items: center;
        width: 350px;
        padding: 30px;
    }

    .encabezado-conocimientos{
        width: 60%;
        line-height: 1.5;
    }

    .encabezado-proyectos{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
      
    }

    .contenedor-cita{
        width: 100%;
    }
   
    #informacion-contacto{

      background-color:#eeeeee;
      display:flex;
      justify-content:center;
      padding-top: 20px;
    }

    .seccion-contacto{
        width: 94%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: white;
        border-radius: 20px;
        
        }
        
    .contactame{
        width: 100%;
        padding: 20px;
        }
    .contenedor-nombre-apellido{
        display: flex;
        flex-direction: column;
     
       
    }

    .nombre{
        margin-bottom: 10px;
    }

    .formulario{
        width: 100%;
        padding: 15px;
    }

    .barra-nav-secundaria{
        display: none;
    }
   
    
 
}
    